body {
	margin-top: 60px;
}

.app-input {
	height: 25px !important;
}

.login-form {
	margin-top: 100px;
}

.app-control-label {
	width: 90px !important;
}

.app-controls {
	margin-left: 110px !important;
}

.app-form-actions {
	padding-left: 0px !important;
}

.app-filter {
	padding-left: 30px !important;
}