<div class="span12">
	<form class="form-inline">
		<label>Select Center: </label>
		<select class="span3" ng-model="center" ng-options="c for c in centers">
		</select>
		<img ng-src="resources/images/ajax-loader.gif" ng-show="isLoading"/>
		<div class="help-inline pull-right">
			Click the bar chart to view weekly data
		</div>
	</form>
</div>
<div class="span12">
	<legend ng-show="center">
		Week by Week Attendance for this term at {{center}}
	</legend>
<combo-chart rows="data2" model="comboData2" interactable="true" height="400" width="900"
	vaxis1="Attendance %" vaxis2="Enrollment" haxis="Week"/>
</combo-chart>
<div class="row app-chart-padding">
	<div class="span4">
		<legend>
			Enrollment Data for Week {{week}}
		</legend>
		<pie-chart height="400" width="400"/>
		</pie-chart>
	</div>
	<div class="span8">
		<legend>
			Weekly Attendance for Week {{week}}
		</legend>
	<combo-chart rows="data" model="comboData" height="400" width="700"
		vaxis1="Attendance %" vaxis2="Enrollment" haxis="Center"/>
	</combo-chart>
</div>
