<h4>What does this tool do?</h4>
The Atlanta Afterschool Metrics Tracker allows users to view aggregated attendance data. Data can be filtered by centers or by weeks.
<h4>How do I navigate the interface?</h4>

Login to the system and wait for the system to load a default center. Change the center via the drop down option on top. Click on any week in the first bar chart to see data for that particular week.

<h4>Can I print these charts?</h4>

Yes. Click the print icon next to the headers of each chart. Click the print all button on the top right to print the entire page.

<h4>Can I upload data into the system?</h4>

Yes. Click on the Admin tab on the top of the page to get access to the admin page. Select which data you wish to upload through the select boxes and upload the excel sheets.

<h4>What happens when uploaded data have overlapping information?</h4>

It does not matter. The software ensures that all redundant information is removed whenever any data is uploaded.

<h4>Why do some of the charts look empty?</h4>

Data is directly imported from Activenet. There is a possibility that the Activenet data might be corrupted. Check with the administrators to ensure that data is consistent.

