<h4 align="center">City of Atlanta After School Metric Tracker</h4>
<div class="row">
	<div class="span4 offset4">
		<form class="login-form">
			<div class="control-group">
				<span class="add-on"><i class="icon-user"></i></span>
				<input class="app-input" type="text" ng-model="username" placeholder="Username">
			</div>
			<div class="control-group">
				<span class="add-on"><i class="icon-lock"></i></span>
				<input class="app-input" type="password" ng-model="password" placeholder="Password">
			</div>
			<div class="control-group form-actions">
				<button type="submit" class="btn" ng-click="doLogin()">Sign in</button>
			</div>
		</form>
		<div class="alert alert-error" ng-show="invalid">
			{{message}}
		</div>
	</div>
</div>